@{
    ViewBag.Title = "About";
}

<ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li class="active">@ViewBag.Title</li>
</ul>

<h2>@ViewBag.Title</h2>
<hr />

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>